{% extends 'LanternThemeModernThemeBundle::base.html.twig' %}

{% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Application description goes here." />
    <meta name="keywords" content="space delimited keywords" />
    <meta name="application-name" content="Very Short Application Name"/>

    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('ico/apple-touch-icon-144x144-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('ico/pple-touch-icon-114x114-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('ico/apple-touch-icon-72x72-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('ico/apple-touch-icon-57x57-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('ico/apple-touch-icon-precomposed.png') }}" />
    <link rel="apple-touch-icon" href="{{ asset('ico/apple-touch-icon.png') }}" />

    <!-- Microsoft -->
    <meta name="msapplication-tooltip" content="Dashboard for generating widgets and content using multiple datasources." />
    <meta name="msapplication-TileImage" content="{{ asset('ico/microsoft-windows-tile.png') }}" />
    <meta name="msapplication-TileColor" content="#e6e6e6"/>
{% endblock meta %}

{% block title %}
    {% if title is defined %}{{ title }} | {% endif %}{{ app_name }}
{% endblock title %}

{% block less %}
{#
    <script>localStorage.clear();var less = {env: 'development'};</script>
    <link href="{{ asset('less/theme.less') }}" rel="stylesheet/less" type="text/css" media="all" />
    <script type="text/javascript" src="{{ asset('js/less-1.5.0.js') }}"></script>
#}
{% endblock less %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/normalize.css') }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/jquery-ui-1.10.3.custom.css') }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/animate.css') }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/geosanslight.css') }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/fontawesome.css') }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/meteocons.css') }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/flex.css') }}" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/main.css') }}" />
    <!--'css/ace/*'-->
{% endblock stylesheets %}

{% block icons %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('ico/favicon.ico') }}" />
{% endblock icons %}

{% block sitemap %}
    <!--<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">-->
{% endblock sitemap %}

{% block shiv %}
    <script type="text/javascript" src="{{ asset('js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/respond.js') }}"></script>
{% endblock shiv %}


{% block navBarLeft %}
    <li class="app-logo"><a href="#">lantern</a></li>
    <li><a href="#">watch</a>
        <ul>
            <li><a href="#"><span class="fa fa-film"></span>movies</a></li>
            <li><a href="#"><span class="fa fa-youtube-play"></span>tv</a></li>
            <li><a href="#"><span class="fa fa-rss"></span>vodcasts</a></li>
        </ul>
    </li>
    <li><a href="#">listen</a>
        <ul>
            <li><a href="#"><span class="fa fa-headphones"></span>music</a></li>
            <li><a href="#"><span class="fa fa-music"></span>classical</a></li>
            <li><a href="#"><span class="fa fa-rss"></span>podcasts</a></li>
            <li><a href="#"><span class="fa fa-book"></span>audiobooks</a></li>
        </ul>
    </li>
    <li><a href="#">see</a>
        <ul>
            <li><a href="#"><span class="fa fa-camera"></span>&nbsp;pictures</a></li>
            <li><a href="#"><span class="fa fa-book"></span>&nbsp;ebooks</a></li>
        </ul>
    </li>
    <li><a href="#">play</a>
        <ul>
            <li><a href="#"><span class="fa fa-gamepad"></span>&nbsp;games</a></li>
            <li><a href="#"><span class="fa fa-puzzle-piece"></span>&nbsp;apps</a></li>
        </ul>
    </li>
    <li><a href="#">manage</a>
        <ul>
            <li><a href="#"><span class="fa fa-cloud"></span>&nbsp;media</a></li>
            <li><a href="#"><span class="fa fa-picture-o"></span>&nbsp;theme</a></li>
            <li><a href="#"><span class="fa fa-dashboard"></span>&nbsp;system</a></li>
        </ul>
    </li>
{% endblock navBarLeft %}

{% block navBarRight %}
    <li>
        <a href="#">
            <span class="icon-time"></span>&nbsp;
            <span data-time="" id="clock"></span>&nbsp;
            <span data-seperator="|">|</span>&nbsp;
            <span class="icon-weather-cloud-raindrops"></span>&nbsp;
            <span data-temperature="56">56</span>&nbsp;
            <span class="icon-weather-degree-f"></span>
        </a>
        <ul class="nav-weather">
            <li><span class="nav-weather-title" data-local-location="portland, or">portland, or</span>
                <ul>
                    <li>fri, jun 15</li>
                    <li><span class="icon-weather-cloud"></span></li>
                    <li>71/54&nbsp;<span class="icon-weather-degree-f"></span></li>
                </ul>
                <ul>
                    <li>sat, jun 16</li>
                    <li><span class="icon-weather-wind"></span></li>
                    <li>68/52&nbsp;<span class="icon-weather-degree-f"></span></li>
                </ul>
                <ul>
                    <li>sun, jun 17</li>
                    <li><span class="icon-weather-cloud-raindrop"></span></li>
                    <li>74/60&nbsp;<span class="icon-weather-degree-f"></span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="#">@username</a>
        <ul>
            <li><a href="#"><span class="fa fa-user"></span>&nbsp;profile</a></li>
            <li><a href="#"><span class="fa fa-gear"></span>&nbsp;settings</a></li>
            <li><a href="{{ path('logout') }}"><span class="fa fa-unlock"></span>&nbsp;logout</a></li>
        </ul>
    </li>
{% endblock navBarRight %}

{% block sidebar %}
    <h3>Left Sidebar</h3>
{% endblock sidebar %}

{% block sidebarControl %}
    <div class="drag-bar-handle">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
{% endblock sidebarControl %}

{% block content %}
    <h2>Main Content Section</h2>
    <p>To properly set flex items</p>
{% endblock content %}
        
{% block footer %}
    <small class="navbar-text navbar-right">
        &copy; {{ "now"|date("Y") }} {{ author_name }}
        <a href="mailto:{{ author_email }}" title="{{ author_email }}">email</a>
        <a href="http://www.{{ author_site }}" title="{{ author_site }}">site</a>
        v.{{ app_version }} r.{{ app_release }}
    </small>
{% endblock footer %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.3.custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.slimscroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.ui.touch-punch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock javascripts %}

{% block analytics %}
    <script>
        //var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        //(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        //g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        //s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endblock analytics %}